.card {
  width: 80%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 5rem;
}

.title p {
  text-decoration: underline;
  font-weight: 600;
  text-align: center;
}

.title a {
  display: block;
  text-decoration: none;
  color: lightgrey;
  border: 2px solid lightgrey;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
}

.image {
    width: 95%;
}

.email {
  border-radius: 20px 20px 0 0;
}

.brenda-email {
  border-radius: 0 0 20px 20px;
}

.title a:hover {
  background-color: lightgray;
  color: black;
}

.caption {
  display: block;
}

.body {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  border-bottom: 2px solid black;
}

.bold {
  font-weight: bold;
}

.bottom {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.full {
    visibility: visible;
}

.small {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .info {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .caption {
        font-size: 10px;
    }
    .body,
    .bottom {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .full {
        visibility: hidden;
    }
    .small {
        visibility: visible;
        border-bottom: 2px solid black;
        margin-top: 7rem;
        padding-bottom: 1rem;
    }
    .title {
        padding-bottom: 0;
        border: none;
        height: 40vh;
    }
    .body {
        margin-top: 0;
    }
    .btns {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .btns a {
      border-radius: 20px;
      margin-right: 5px;
    }
}