.card {
  @apply w-[80%] flex-col;
}

.title {
  @apply w-full flex justify-evenly items-center text-center border-b-2 border-solid border-slate-800 pb-0 md:pb-20;
}

.title p {
  @apply underline font-semibold text-center;
}

.title a {
  @apply block no-underline text-slate-300 border-2 border-solid border-slate-300 p-4 text-center font-semibold hover:bg-slate-200 hover:text-slate-900;
}

.info {
  @apply mx-0 sm:mx-2;
}

.info h2 {
  @apply sm:text-lg md:text-xl lg:text-3xl;
}

.info h2,
.info p,
.info div {
  @apply mb-4 md:mb-8 lg:mb-16;
}

.image {
  @apply w-[95%];
}

.email {
  @apply rounded-t-2xl;
}

.brenda-email {
  @apply rounded-b-2xl;
}

.caption {
  @apply block text-sm md:text-base;
}

.body {
  @apply mt-4 md:mt-8 mx-4 md:mx-16 border-b-2 border-solid border-slate-800;
}

.bold {
  @apply font-bold;
}

.bottom {
  @apply mt-8 mx-4 md:mx-16;
}

.full {
  @apply invisible md:visible;
}

.small {
  @apply invisible md:border-b-2 md:border-solid md:border-slate-800 md:mt-28 md:pb-4;
}

.btns {
  @apply flex flex-col justify-evenly items-center;
}

.btns a {
  @apply rounded-xl text-sm md:text-base;
}
