.card {
    @apply w-[60%] flex-col;
}

.card ul {
    @apply text-center;
}

.email {
    @apply border-2 border-solid border-slate-900 bg-slate-300 p-[.1rem] rounded hover:bg-blue-600 hover:text-slate-200;
}

.main {
    @apply flex flex-col lg:flex-row;
}

.imgblock {
    @apply flex lg:flex-col w-[100%] justify-evenly;
}

.img {
    @apply h-[20vw] min-h-[10rem] lg:h-60 lg:mr-4 mb-4 mr-4 ml-4 lg:w-[70%];
}

p {
    @apply mb-4 ml-2 mr-2 lg:ml-12 lg:mr-12;
}

.cap {
    @apply text-center ml-auto mr-auto;
}

caption {
    @apply lg:text-sm lg:mx-3 lg:mb-3 lg:italic lg:block lg:w-[70%] hidden;
}

.div {
    border: 1px solid green;
    width: 100%;
}

.link {
    border: 1px solid red;
    text-align: center;
}