.email {
    @apply px-4 py-2 mt-2 no-underline bg-slate-200 text-slate-900 rounded-xl hover:bg-slate-600 hover:text-slate-200;
}

.desc {
    @apply text-center text-slate-900 max-w-[50%];
}

.image {
    @apply h-auto md:h-80 w-auto max-w-[80%] mb-4;
}

.info div {
    @apply flex flex-col items-center justify-evenly;
}

.info div p {
    @apply m-0 text-slate-900;
}

h2 {
    @apply text-2xl;
}

h4 {
    @apply text-center;
}

.list-item {
    @apply text-center my-1
}

.back-btn {
    @apply absolute right-0 w-8 h-8 font-bold border-2 border-solid rounded-full border-slate-900 hover:text-red-600 hover:bg-white;
}