.features {
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.features .button img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.features .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15rem;
  margin: 1rem;
  border-radius: 20px;
  border: 2px solid black;
  padding: 0;
  text-decoration: none;
  text-align: center;
  background-image: url("../../assets/colors.jpg");
}

.features .button:hover {
  cursor: pointer;
}

.inner-card {
  text-align: center;
  background-color: white;
  color: black;
  opacity: 0.7;
  width: 80%;
  padding: 1rem;
  border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
    .features {
      margin-top: 5rem;
    }
  }

@media only screen and (max-width: 992px) {
  .features {
    width: 80vw;
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 768px) {
  .features {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .features {
    margin-top: 5rem;
  }
  .features button {
    width: 80vw;
  }
}
