.footer {
    @apply w-full flex flex-col md:flex-row justify-evenly items-center bg-slate-700 p-6 md:p-20;
}

.info p {
    @apply text-slate-200 text-center;
}

.image {
    @apply hidden md:inline-block h-28 w-28 rounded-full;
}

.links {
    @apply flex justify-evenly items-center flex-col;
}

.link {
    @apply text-slate-200 hover:text-slate-900 bg-slate-900 hover:bg-slate-200 no-underline my-4 mx-0 border-4 border-solid border-slate-200 hover:border-blue-500 py-4 px-0 w-40 text-center rounded-xl font-semibold text-lg hover:cursor-pointer;
}

.social {
    @apply flex flex-col justify-evenly items-center;
}

.social a {
    @apply no-underline text-slate-200 my-4 mx-auto;
}

.disabled {
    @apply pointer-events-none;
}

.nav {
    @apply flex flex-col;
}

.nav a {
    @apply no-underline text-slate-200 my-4 mx-auto border-none bg-transparent;
}