.full {
  @apply h-screen flex flex-col xl:flex-row justify-evenly items-center mt-20 xl:h-[70vh] w-[90vw];
}

.header {
  @apply mt-4 flex flex-col justify-between items-start pt-4 pl-4 pb-12 min-w-[40%] h-[80%] border-2 border-solid border-slate-900 rounded-xl shadow-lg shadow-black;
  background-image: url("../../assets/backdrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.header h1 {
  @apply text-2xl font-normal text-center my-0 text-slate-900 xl:text-5xl lg:text-4xl md:text-3xl;
}

.top {
  @apply flex items-start justify-between m-0 h-full;
}

.info {
  @apply flex flex-col xl:flex-row justify-evenly items-center py-2 mt-0 bg-slate-200 opacity-70 rounded-xl border-2 border-solid border-slate-900 w-[90%];
}

.info p {
  @apply font-medium md:text-lg xl:text-xl text-slate-900 text-center;
}

.logo {
  @apply rounded-full m-0 w-28 h-28 md:w-40 md:h-40 mr-8;
}

.caption {
  @apply text-sm md:text-base justify-self-end text-slate-900 bg-slate-200 opacity-70 rounded-xl p-2 border-2 border-solid border-slate-900 w-[90%] text-center mb-0;
}

.event-btn {
  
}