.main {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    /* width: 50vw; */
    /* border-radius: 20px;
    border: 2px solid #4db6ac;
    background-color: #bbb;
    padding: 2rem; */
}

.main h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 2rem 3rem;
    text-align: center;
}

.logo-img {
    height: 30%;
    width: 80%;
    border-radius: 20px;
    border: 2px solid black;
}

.art-center-img {
    border-radius: 20px;
    width: 80%;
}

@media only screen and (max-width: 992px) {
    .main h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        width: 75% !important; 
    }
    .logo-img,
    .art-center-img {
        width: 90%;
    }
}
