.about h2 {
  @apply text-6xl font-medium mb-4 sm:text-4xl sm:text-center;
}

.about article {
  @apply flex flex-col justify-evenly items-center xl:inline-block;
}

.image {
  @apply float-right ml-6 mb-6 rounded-xl;
}

p {
  @apply text-slate-700;
}