.card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 70%;
    }
}

/* @media only screen and (max-width: 600px) {...}
@media only screen and (max-width: 768px) {...}
@media only screen and (max-width: 992px) {...}
@media only screen and (max-width: 1200px) {...} */