form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  width: 100%;
}

.first-line,
.second-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.comment {
  text-align: center;
}

.comment textarea {
  max-width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
}

.submit-btn {
  min-width: 30%;
  margin: 0 auto;
}

.submitted {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
}

@media only screen and (max-width: 992px) {
  .first-line,
  .second-line {
    flex-direction: column;
    margin-bottom: 0;
  }
  input {
      margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .card {
      width: 75% !important; 
  }
}
