.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  position: relative;
}

.App::before {
  content: "";
  background-image: url("./assets/background.jpg");
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  z-index: -20;
  opacity: 0.4;
}

#main {
  @apply mt-8;
}