.small-menu {
  @apply overflow-y-scroll list-none fixed top-10 bg-blue-500 right-0 bottom-0 w-[50%] max-w-[290px] z-50 pl-2 pr-4 py-4 rounded-b-xl;
}

.hide {
  @apply h-0 transition duration-500;
}

.fit {
  @apply h-fit transition duration-500;
}

.small-menu__btn {
  @apply text-2xl bg-transparent border-none text-slate-900 my-2 no-underline;
  font-family: "Prata";
}

a {
  @apply pl-1 py-1 my-4;
}