.small-menu {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 2rem;
  background: #4db6ac;
  right: 0;
  bottom: 0;
  width: 50%;
  max-width: 290px;
  z-index: 9;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0 0 0 20%;
  transition: all 1s ease-in-out;
}

.hide {
  max-height: 0;
}

.fit {
  max-height: fit-content;
}

.small-menu__btn {
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #333;
  margin: 0.5rem 0;
  font-family: "Prata";
  text-decoration: none;
}

a {
  padding-left: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}