.navbar,
.full-menu {
  @apply w-full h-[12%] bg-slate-400 flex justify-between items-center fixed top-0 left-0 py-2 z-10 border-b-2 border-t-2 border-solid border-slate-900 opacity-90;
}

.logo {
  @apply h-14 w-14 ml-10 rounded-full mr-auto;
}

.links {
  @apply mr-10;
}

.link {
  @apply mx-3 bg-transparent font-semibold text-xl no-underline text-slate-900 border-2 border-solid border-slate-400 hover:border-slate-200 rounded-3xl hover:bg-teal-600 hover:text-slate-200 hover:cursor-pointer hover:shadow-lg hover:shadow-black px-3 py-2 transition duration-300;
  font-family: 'Prata'
}

.link:active,
.link:focus,
.is-active {
  @apply border-2 border-solid border-slate-200 rounded-3xl bg-teal-600 text-slate-200 cursor-pointer shadow-lg shadow-black;
  font-family: 'Prata'
}

.full-menu {
  @apply invisible lg:visible;
}

.hamburger-menu {
  @apply visible lg:invisible ml-auto mr-8 flex justify-end items-center w-full;
}

.close-btn,
.burger-btn {
  @apply w-10 h-10 block ml-auto text-right;
}

.logo-link {
  @apply my-0;
}