.navbar,
.full-menu {
  @apply w-full bg-blue-400 flex justify-between items-center fixed top-0 left-0 py-2 z-10;
}

.logo {
  @apply h-14 w-14 ml-10 rounded-full mr-auto;
}

.logo-small {
    @apply h-16 w-16 ml-14 rounded-full;
}

.links {
  @apply mr-10;
}

.link {
  @apply mx-3 bg-transparent font-semibold text-xl no-underline text-slate-900 border-2 border-solid border-blue-400 p-3;
  font-family: 'Prata'
}

.link:hover,
.link:active,
.link:focus,
.is-active {
  @apply border-2 border-solid border-slate-200 rounded-3xl bg-teal-600 text-slate-200 cursor-pointer shadow-lg shadow-black;
  font-family: 'Prata'
}

.full-menu {
  @apply invisible lg:visible;
}

.hamburger-menu {
  @apply visible lg:invisible ml-auto mr-8 flex justify-end items-center w-full;
}

.close-btn,
.burger-btn {
  @apply w-10 h-10 block ml-auto text-right;
}
