.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    border-radius: 20px;
    border: 2px solid #4db6ac;
    background-color: #777;
    padding: 2rem;
    margin: 1.5rem 0;
    box-shadow: 5px 5px 4px gray;
}
